.SportEvents{
    margin-top: 10px;
    background:  linear-gradient(#1b1b1b,#4d4d4d);
    min-height: 100px;
   
    padding: 2px;
}

.SportEvents .title{
    border-radius: 4px 4px 0px 0px;
    padding: 10px;
    font-size: 13px;
    font-family: serif;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(#191919,#1d1d1d);
    border-color: #4d4d4d;
    color: #fff;
    border-bottom: 1px solid #5a5a5a;
}

.SportEvents ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.SportEvents ul.menu li {
    margin-bottom: 0px;
    display: block;
    position: relative;
    width: 100%;
    background: #131313;
}
.SportEvents ul.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
    transition:  opacity .3s;
    white-space: nowrap;
    display: flex;
    padding: 0 5px;
    align-items: baseline;
    width: 95%;
}

.SportEvents ul.menu li .hr{
    width: 100%;
    border: 0.5px solid #292929;
    display: block;
    margin: 0 auto;
}
.SportEvents ul.menu li:hover .hr,.SportEvents ul.menu .active .hr{
    width: 90%;
    border: 1px solid #ffc500;
    display: block;
    margin: 0 auto;
  
}

.SportEvents ul.menu li a i,.SportEvents ul li a span{
    padding-left: 10px;
    z-index: 4;
}

.SportEvents ul.menu li a span:nth-child(3){
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #fec82f;
    font-weight: 600;
    padding-right: 10px;
    z-index: 5;
    background: #131313;
}

.SportEvents .menuHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    font-family: serif;
    font-weight: 600;
    background: #1b1b1b;
    padding-top: 5px;
    align-items: baseline;
}

.SportEvents .menuHeader li .hr{
    width: 100%;
    border: 1px solid #5a5a5a;
    /*display: block;*/
    margin: 0 auto;
}
.SportEvents .menuHeader li div{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
}
.SportEvents .menuHeader li{
    color: #fff;
    flex-grow: 1;
    border-width: 3px; 
    cursor: pointer;
    display: flex;      

    padding: 5px;
    background: linear-gradient(#1e1e1e,#232323);
}
.SportEvents .menuHeader li.on, .SportEvents .menuHeader li:hover{
    border-top: 2px solid #fec82f;
}
.SportEvents .menuHeader span:hover:not(.on){
    opacity: .8;
}
.SportEvents .menuHeader li.on div{
   /* border-style: outset;*/
    color: #fff;
    border-top: none;
    cursor: default;
    padding-top: 0px; 
}
.SportEvents .menuHeader li.on {
    background: #111111;
}

.SportEvents .menuHeader li:nth-child(1):before {
    content: "\f069";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    /*margin-left: -10%;
    position:absolute;*/
    color: #fec82f;
   
 }
 .SportEvents .menuHeader li:nth-child(2):before {
    content: "\f04b";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    color: #fec82f;
 }
 .SportEvents .menuHeader li:nth-child(3):before {
    content: "\f017";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    color: #fec82f;
 }