.leaguePage{
    display: flex;
    /* flex-grow: 1; */
    /* flex-direction: row; */
    min-height: 50vh;
    width: 100%;
}

.leaguePage .main{
    /*flex-basis: 65%;*/
    flex-grow: 1;
    background-color: #fff;
    margin: 10px;
}